[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-bolt = "*"
openai = "*"
black = "*"
python-dotenv = "*"
replicate = "*"
asyncio = "*"
certifi = "*"

[dev-packages]

[requires]
python_version = "3.9"
